@font-face {
    font-family: Orbitron;
    src: url(../fonts/Orbitron-Regular.ttf);
}
@font-face {
    font-family: PTSans;
    src: url(../fonts/PTSans-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Orbitron;
}

html {
    scroll-behavior: smooth
}

:root {
    --max-width:1360px;
    --content-color: #999999;
    --title-color:#57B8FF;
    --headings-color:white;
    --link-color:white;
    --btn-bgc-color:#57b8ff;
}
.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 20px;
}
